body {
  margin: auto;
  width: 1020px;
  border: none;
}

h1{
  display: none;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("assets/Lato-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "MavenProRegular";
  src: url("assets/maven-pro.regular.ttf") format("ttf");
}
@font-face {
  font-family: "Lato-Black";
  src: url("assets/Lato-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("assets/Lato-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("assets/MyriadPro-Regular.ttf") format("ttf");
}

header {
  background-color: #323232;
  position: fixed;
  width: 1020px;
  z-index: 1000;
  height: 63px;
}

header a {
  color: rgba(255, 255, 255, 255);
  text-decoration: none;
}

header a:visited {
  color: rgba(255, 255, 255, 255);
}

header #begin{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 114px;
  text-align: left;
  top: 32px;
  bottom: 23px;
  left: 326px;
}

header #end{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 117px;
  text-align: left;
  top: 32px;
  bottom: 23px;
  left: 580px;
}

 header nav{
  list-style-type: none;
  font-family: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 7.21379px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
  display: inline-block;
}

li {
  display: inline-block;
}

ul .first {
  margin-right: 25px;
}

header #triangle-down {
  position: absolute;
  left: 464px;
  top: 62px;
  width: 0;
  height: 0;
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  border-top: 26px solid #323232;
}

#logo {
  position: absolute;
  top: 10px;
  left: 478px;
}

main {
padding-top: 150px;
}

.left-header-line,
.right-header-line {
  content: "";
  position: relative;
  width: 410px;
  height: 1px;
  background-color: #e4e9eb;
  display: block;
}

.left-header-line {
  left: 30px;
  top: -75px;
}

.right-header-line {
  left: 580px;
  top: -76px;
}

#portfolio {
  height: 632px;
}
  
  
.first-row {
  position: relative;
  height: 208px;
  left: 99px;
  width: 822px;
  display: inline-block;
}

.second-row {
  position: relative;
  height: 210px;
  width: 1020px;
  padding-left: 20px;
  top: -43px;
  display: inline-block;
}

.third-row {
  position: relative;
  height: 210px;
  left: 99px;
  top: -86px;
  width: 822px;
  display: inline-block;
}

.hexagon {
  position: relative;
  width: 180px;
  height: 210px;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
  transform: rotate(120deg);
}

.hex-layer1 {
  visibility: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
}

.hex-layer2 {
  width: 100%;
  height: 100%;
  background: #ccc3;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}

#portfolio .vertical-line {
  position: relative;
  width: 1px;
  height: 104px;
  top: -53px;
  background-color: #e4e9eb;
  content: "";
  display: inline-block;
}

.first-row :first-child {
  margin-right: 16px;
}

.third-row :first-child {
  margin-right: 16px;
}

.horizontal-line {
  height: 1px;
  width: 960px;
  position: relative;
  left: 30px;
}

#portfolio .horizontal-line {
  bottom: 38px;
  background-color: #e4e9eb;
} 
    
.margin {
  display: inline-block;
  width: 180px;
  height: 208px;
  margin: 0 16px 0 0;
}

#slider {
  position:relative;
  bottom: 50px;
  left: 30px;
  width: 56px;
}

.slider-item {
  width: 6px;
  height: 6px;
  margin: 0;
  border: none;
  content: "";
  background-color: #ddd2c5;
  display: inline-block;
  position: relative;
}


#about {
  height: 340px;
  background-color: #2eb398;
}


#about #vertical-line-left{
  position: relative;
  top: 13px;
  height: 316px;
  left: 99px;
  width: 1px;
  background-color: #219d84;
  display: inline-block;
}

#about .margin{
  position: relative;
  left: 120px;
  top: -42px;
  margin: 0;
  content: "";
}

#portret {
  background-image: url("./assets/Image@1X.png");
  overflow: hidden;
  background-position: 50%;
}

#about h2 {
  font-family: MavenProRegular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 30px;
  position: relative;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
  bottom: 262px;
  left: 320px;
  margin: 0;
  font-weight: 400;
  width: max-content;
}

#about h3 {
  font-family: MavenProRegular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 18px;
  color: rgba(32, 129, 109, 255);
  position: relative;
  text-align: justify;
  bottom: 262px;
  left: 320px;
  margin: 0;
  font-weight: 400;
  width: max-content;
}

#about p {
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 11.6px;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
  width: 580px;
  position: relative;
  display: inline-block;
  bottom: 254px;
  left: 320px;
  margin: 0;
  line-height: 2;
}

#about #vertical-line-right{
  position: relative;
  top: 13px;
  height: 316px;
  left: 916px;
  width: 1px;
  background-color: #219d84;
  display: inline-block;
  margin: 0;
}

#get-in-touch {
  height: 564px;
  background-color: #323232;
}

#social-media {
  position: relative;
  left: 753px;
  width: max-content;
  bottom: 219px;
}

#social-media a{
  margin-left: -4px;
}

#social-media :first-child {
  margin:0px;
}

#get-in-touch .horizontal-line:first-child {
  top: 13px;
  background-color: #2b2b2b;
}

#get-in-touch h2 {
  font-family: MavenProRegular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 30px;
  position: relative;
  color: rgba(224, 224, 224, 255);
  text-align: justify;
  left: 120px;
  top: 58px;
  margin: 0;
  font-weight: 400;
  width: max-content;
}

#get-in-touch h3 {
  font-family: MavenProRegular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 18px;
  color: rgba(190, 190, 190, 255);
  position: relative;
  text-align: justify;
  top: 56px;
  left: 120px;
  margin: 0;
  font-weight: 400;
  width: max-content;
}

#get-in-touch p {
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 12px;
  color: rgba(224, 224, 224, 255);
  color: #a0a0a0;
  text-align: justify;
  width: 180px;
  position: relative;
  display: inline-block;
  left: 720px;
  top: 70px;
  margin: 0;
  line-height: 1.9;
}

#get-in-touch p span{
  font-family: Lato-Black;
}

form {
  position: relative;
  display: inline-block;
  bottom: 56px;
}

input[type="text"],
input[type="email"] {
  background-color: #454545;
  height: 10px;
  width: 552px;
  border: 0;
  margin: 0 0 16px 120px;
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 12px;
  color: rgba(190, 190, 190, 255);
  padding: 14px;
}

form textarea {
  padding: 14px;
  height: 122px;
  width: 552px;
  resize: none;
  display: inline-block;
  border: 0;
  margin-left: 120px;
  margin-bottom: 12px;
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 12px;
  color: rgba(190, 190, 190, 255);
  background-color: #454545;
}

input[type="submit"] {
  position: relative;
  background-color: #2eb398;
  width: 90px;
  height: 37px;
  border: 0;
  padding: 0;
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 12px;
  color: rgba(215, 252, 245, 255);
  text-transform: uppercase;
  display: block;
  left: 610px;
}

#contacts-icons {
  display: inline-block;
  position: relative;
  left: 722px;
  bottom: 269px;
}
#contacts-icons img{
  display: block;
  margin-top: 13px;
}

#contacts {
  width:120px;
  position: relative;
  display: inline-block;
  left: 743px;
  font-family: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 12px;
  color: rgba(190, 190, 190, 255);
  bottom: 269px;
  line-height: 2;
}

#get-in-touch form + .horizontal-line {
  bottom: 2px;
  background-color: #2b2b2b;
}

footer {
  font-family: MavenProRegular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 8.65655pt;
  color: rgba(69, 69, 69, 255);
  text-align: justify;
  background-color: #222222;
  height: 43px;
}
footer div {
  padding: 16px 0 0 39px;
}

#vertical-line {
  height: 2000px;
  width: 1px;
  left: 520px;
  position: relative;
}


.slider-item:active {
  background-color: #8b8784;
}

a div{
  height: 10px;
  margin: -10px -5px;
  padding: 10px 5px;
}

a div:active{
  box-shadow: inset 0 0 0 5px #575656;
  transition: 300ms;
}
li a {
  height: 10px;
  margin: -10px -5px;
  padding: 10px 5px;
}
li a:active {
  box-shadow: inset 0 0 0 5px #575656;
  transition: 150ms; 
}

li a:hover {
  color: #2eb398;
}

input[type="submit"]:active {
  background-color: #219d84;
  border: 5px solid #08745ea2;
}
input,
textarea {
  outline:none;
}

#portfolio-link {
  position: absolute;
  top: 70px;
}

#about-link {
  position: absolute;
  top: 720px;
}

#get-in-touch-link {
  position: absolute;
  top: 1060px;
}

#social-media img:hover {
  transform: scale(1.4);
  transition: 150ms;
}

li:hover {
  transform: scale(1.2);
  transition: 300ms;
}
#contacts-icons :hover {
  transform: scale(1.4);
  transition: 150ms;
}
span {
  color: #e0e0e0;
}